body {
    background-color: #dee0de;
}

* {
    box-sizing: border-box;
}

.menu {
    width: 25%;
    float: left;
}

.main {
    width: 75%;
    float: left;
}

h1 {
    color: #2e312e;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
